.go{
    position: absolute;
    top: 90vh;
    left: 28vw;
    background-color: thistle;
    height: 60px;
    font-family: MV Boli;
    font-size: 30px;
    width: 20vw;
    box-shadow: -15px 10px 20px black;

}
.go:hover{
    background-color: springgreen;
    height: 60px;
    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red
}

.reset{
    position: absolute;
    top: 90vh;
    left: 52vw;
    background-color: thistle;
    height: 60px;
    font-family: MV Boli;
    font-size: 30px;
    width: 20vw;
    box-shadow: -15px 10px 20px black;
}
.reset:hover{
    background-color: springgreen;
    height: 60px;
    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red
}